<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/application/report.png" alt="Daily Activity Report" style="width: 100%; z-index: 0;">
        <div class="card-body">
          <h1 class="card-title" style="margin-top: -8rem; z-index: 5; text-align: center; color: #f5f5f5">Daily Activity Report</h1>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/application/report.png" alt="Daily Activity Report" style="width: 100%; z-index: 0;">
        <div class="card-body">
          <h1 class="card-title" style="margin-top: -8rem; z-index: 5; text-align: center; color: #f5f5f5">Daily Activity Report</h1>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/application/report.png" alt="Daily Activity Report" style="width: 100%; z-index: 0;">
        <div class="card-body">
          <h1 class="card-title" style="margin-top: -8rem; z-index: 5; text-align: center; color: #f5f5f5">Daily Activity Report</h1>
        </div>
      </div>
    </div>
  </div>
</div>