<h1 mat-dialog-title>New Post</h1>
<h3>New post for {{data.company.name}}</h3>

<form [formGroup]="postForm" (ngSubmit)="submit(postForm)">
  <mat-dialog-content fxLayout="column" fxLayoutGap="1%">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Name</mat-label>
      <input matInput #postName formControlName="postName" placeholder="Ex. Main entrance" autocomplete="off">
    </mat-form-field>

    <app-address [formGroup]="postForm"></app-address>

    <h3 class="section">Agents</h3>
    
    <div fxLayout="row">
      <mat-form-field appearance="outline" class="search">
        <mat-label>Agent</mat-label>
        <input type="text"
          placeholder="Search agent"
          aria-label="Agent"
          matInput
          [matAutocomplete]="auto"
          #searchInput>
      </mat-form-field>
    </div>
    
    <mat-list #agents>
      <mat-list-item *ngFor="let user of postUsers">
        {{user.userName}} - {{user.lastName}} {{user.firstName}}
        <span class="spacer"></span>
        <button type="button" mat-icon-button (click)="deleteAgentFromPost(user)">
          <mat-icon mat-list-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let user of users" [value]="user">
        {{user.lastName}} {{user.firstName}}
      </mat-option>
    </mat-autocomplete>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">Add</button>
    <button mat-raised-button color="accent" type="button" (click)="close()">Cancel</button>
  </mat-dialog-actions>
</form>