<ng-container [formGroup]="controlContainer.control">
  <h3 class="section">Posts</h3>
  <div fxLayout="row" fxLayoutGap="1%">
    <!-- <mat-form-field appearance="fill" fxFlex="10%">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="mail">Mail</mat-option>
        <mat-option value="mobile">Mobile</mat-option>
        <mat-option value="pager">Pager</mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Name</mat-label>
      <input matInput formControlName="value" placeholder="Ex. 01">
    </mat-form-field>
    <button mat-mini-fab aria-label="edit" color="primary" class="my-fab">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="delete" color="warn" class="my-fab">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <a href="#">Add a new Post</a>
</ng-container>