.container {
    margin-top: 100px;
}

.userlist div {
    width: 15%;
    min-width: 240px;
    max-width: 500px;
    max-height: 90%;
    background-color: slategray;
    border: 1px solid grey;
    padding: 10px;
}

.userlist div:hover {
    background-color: hotpink;
}

.item img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.item span {
    margin-left: 15px;
    font-size: 1.25rem;
    vertical-align: middle;
}
