<div class="container">
  <div class="row">
    <div class="col col-lg-3">
        <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="Search User">   
          <button pButton type="button" icon="pi pi-search" class="ui-button-warn"></button>      
        </div>

        <div class="userlist">
          <div class="item" *ngFor="let user of users | async" (click)="displayUser(user.id)">
            <img src="/assets/images/users/{{user.photo}}"/>
            <span>{{user.name}} {{user.firstname}}</span>
          </div>
        </div>

      <!-- </div> -->

      <div class="card-container">
        <div *ngIf="selectedUser">
          <p>Hello {{selectedUser.name}}</p>
          <p>{{selectedUser | json}}</p>
        </div>
      </div>
    </div>

    <div class="col col-lg-9">
      <div class="col col-sm-12">
        <input *ngIf="selectedUser" type="text" class="form-control" [(ngModel)]='selectedUser.name' name="surname" >
        <input *ngIf="selectedUser" type="text" class="form-control" [(ngModel)]='selectedUser.firstname' name="firstname" >
      </div>

    </div>
  </div>
</div>