main {
    position: fixed;
    top: 50px;
    height: 95vh;
    width: 100vw;
    border: solid 1px red;
}

.top {
    background-color: rgb(87, 143, 226);
    padding: 10px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 110px;
}

.body {
    /* Height = main - top - bottom */
    height: calc(95vh - 110px - 40px);
}

.bottom {
    background-color: rgb(87, 143, 226);
    height: 40px;
}

.colright {
    width: 100%;
    float: right;
    text-align: right;
    padding-top: 5px;
}

.record {
    width: 100%;
    float: center;
    margin: 5px;
}

.recordWarningIcon {
    width: 50px;
    border: solid 1px black;
}

.recordTime {
    max-width: 90px;
    text-align: center;
}

/* .recordDescription {

} */

.recordFoldout {
    max-width: 50px;
    border: solid 1px black;
}



/* Most used smartphone screenres: 1080/750/720/1440/... */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: lavender;
    }
}