<h1 *ngIf="isAddMode">Add Client</h1>
<h1 *ngIf="!isAddMode">Edit Client</h1>

<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutGap="2%">
    <div fxFlex="85%">
      <div fxLayout="column" fxLayoutGap="1%">
        <mat-form-field appearance="fill" fxFlex="50%">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Ex. Security One-O-One">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="50%">
          <mat-label>Customer Number</mat-label>
          <input matInput formControlName="customerNumber" placeholder="Ex. FC001">
        </mat-form-field>

        <app-address [formGroup]="companyForm"></app-address>
        <app-contact *ngIf="!isAddMode" [formGroup]="companyForm" [companyId]="id"></app-contact>
        <app-posts *ngIf="company" [company]="company" (companyChange)="addPost($event)"></app-posts>

        <!-- Buttons -->
        <div class="form-group">
          <button type="submit" *ngIf="!companyForm.untouched" [disabled]="loading || companyForm.invalid" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
          <button type="button" *ngIf="companyForm.untouched" class="btn btn-primary" routerLink="/companies">Close</button>
          <a routerLink="/companies" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </div>
    
    <div fxFlex fxLayout="column" fxLayoutGap="2%">
      <img class="preview" [src]="previewUrl ? previewUrl : 'assets/images/application/logo.png'">
      <button type="button" class="btn btn-info" (click)="image.click()">Choose file...</button>

      <!-- Verborgen input button, Angular Material ondersteund input-type 'file' nog niet -->
      <input hidden type="file" name="file" #image value="Photo" mat-button color="primary" 
        accept=".jpg, .jpeg, .png, .bmp" (change)="fileProgress($event)">
    </div>
  </div>
</form>
