<!-- navigation -->
<mat-toolbar color="primary" *ngIf="user">
  <a *ngIf="isAdmin" mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a *ngIf="isAdmin" mat-button routerLink="/users" routerLinkActive="active">Users</a>
  <a *ngIf="isAdmin" mat-button routerLink="/companies" routerLinkActive="active">Clients</a>
  <a *ngIf="!isAdmin" mat-button routerLink="/dar" routerLinkActive="active">DAR</a>

  <span class="spacer"></span>

  <img class="userProfile" mat-button (click)="fetchPostNames()" [matMenuTriggerFor]="menu"
    [src]="photoUrl ? photoUrl : 'assets/images/application/user.png'">
  <mat-menu #menu="matMenu">
    <mat-form-field appearance="outline">
      <mat-label>Post</mat-label>
      <mat-select>
        <mat-option *ngFor="let post of posts">
          <p (click)="navigateToPostDar(post.id)">{{post.name}}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-menu-item (click)="logout()">
      <mat-icon>meeting_room</mat-icon> Logout
    </button>
  </mat-menu>
</mat-toolbar>