<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutGap="2%">
        <div fxFlex="85%">
          <div fxLayout="column" fxLayoutGap="1%">
            <mat-form-field appearance="fill" fxFlex="50%">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Ex. Kurt">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Ex. Bellens">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="1%">
            <mat-form-field appearance="fill" fxFlex="33%">
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName" placeholder="Ex. KBL">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="33%">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="currentPassword" [type]="hideCurrentPassword ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </div>

        <app-address></app-address>
        <app-contact></app-contact>

        <!-- Button group -->
        <div class="form-group button-group">
            <button [disabled]="loading || form.invalid" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/users" class="btn btn-link">Cancel</a>
        </div>
    </div>
  </div>

  <div fxFlex>
    <img class="preview" [src]="previewUrl ? previewUrl : 'assets/images/application/user.png'">
    <button type="button" class="btn btn-primary" (click)="image.click()">Choose file...</button>

    <input hidden type="file" name="image" #image value="Photo" mat-button color="primary" 
      accept=".jpg, .jpeg, .png, .bmp" (change)="fileProgress($event)">
    
      <!-- <mat-form-field appearance="fill">
        <mat-label>Birth Date</mat-label>
        <input matInput formControlName="birthDate" placeholder="Ex. KBL">
    </mat-form-field> -->
  </div>
<!-- </div> -->
</form>
