
<h3 class="section">Contact</h3>
<ng-container *ngFor="let contact of contacts" [formGroup]="controlContainer.control">
  <div fxLayout="row" fxLayoutGap="1%">
    <mat-card appearance="fill" fxFlex="100%">
      <mat-card-content fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="space-between center">
        <mat-icon>{{contact.type}}</mat-icon>
        <div fxFlex="90%">{{contact.value}}</div>
        <button mat-mini-fab fxFlexAlign="end" type="button" aria-label="delete" color="warn" class="my-fab" (click)="deleteContact(contact.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="!addContactMode">
  <button mat-mini-fab type="button" aria-label="add" color="primary" class="my-fab" (click)="addContactMode = !addContactMode">
    <mat-icon>add</mat-icon>
  </button>
  <span class="dialogtext">Add a new Contact</span>
</ng-container>

<ng-container *ngIf="addContactMode"  [formGroup]="newContactForm">
  <h4 class="section">New contact</h4>
  <div fxLayout="row" fxLayoutGap="1%">
    <mat-form-field appearance="fill" fxFlex="10%">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="mail">Mail</mat-option>
        <mat-option value="phone">Mobile</mat-option>
        <mat-option value="devices_other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Value</mat-label>
      <input matInput formControlName="value" placeholder="Ex. 01">
    </mat-form-field>
    <button mat-mini-fab type="button" aria-label="send" color="accent" class="my-fab" [disabled]="!newContactForm.valid" (click)="addContact()">
      <mat-icon>send</mat-icon>
    </button>
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  </div>