main {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    width: calc(100vw - 10%);
    /* overflow-y: scroll; */
    overflow: hidden;
    margin: 0 5%;
}

.top {
  padding: 20px 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  width: 100%;
  padding: 5px;
}

input, textarea {
  background-color: transparent;
}

input {
  border: transparent;
  margin-right: 8px;
}

mat-form-field {
  margin: 0 0.25rem;
}

.mat-accordion .mat-header-row {
  align-items: center;
  padding: 0 2rem;
  border-bottom: none;
  margin-bottom: 5px;
}

.mat-header-row {
  min-height: 30px;
}

.mat-row {
  min-height: 40px;
}

.mat-expansion-panel.mat-expanded {
  background: rgb(240, 240, 240);
  margin: 1rem 0;
}

.mat-row, .mat-header-row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.newEntry {
  padding: 0.25rem 1rem;
  background-color: rgb(234, 220, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 2px #dadada;
  align-content: center;
}

.mainrow {
  margin: 3em 1%;
}

.my-fab {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 25px;

  &::ng-deep .mat-button-wrapper{
      line-height: 25px;
      padding: 0;

       .mat-icon {
           font-size: 22px;
           padding-right: 0px;
           padding-top: 0px;
       }
 }
}